.charts-viewport {
    .chart-canvas {
        border: 1px solid #3E63DD;
        height: 400px;
        margin: 1em;
        width : 600px;
    }

    .charts-action-toolbar {
        margin: 2em .5em;

        .neo-button {
            &:not(:first-child) {
                margin-left: .5em;
            }
        }
    }
}
